
{% macro input(name, value, type = "text", size = 20) %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}"/>
{% endmacro %}

{% macro v2(bgcolor = 'bg-success', icon = "fa-shopping-cart", boxtext = "sales", number = 720) %}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon {{ bgcolor }} elevation-1"><i class="fas {{ icon }}"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ boxtext|capitalize }}</span>
                        <span class="info-box-number">{{ number }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
{% endmacro %}