{% extends "layouts/estore/estore.html" %}

{% block title %} Login Page{% endblock %}

{% block head %}
{{ parent() }}


{% endblock %}

{% block pagecontent %}


<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% include 'layouts/estore/components/nav.html'%}
            </div>
            <div class="col-md-9">
                
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Order ID #</th>
                                        <th>Placed On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td> {{ order.id }}</td>
                                        <td> {{ order.created_at }}</td>
                                        <td> {{ order.status }}</td>
                                        <td><button class="btn">View</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>

            </div> <!-- / row-->
        </div> <!-- / container-fluid -->
    
<!-- Main Slider End -->      


      


{% endblock %}


{% block script %}
 {{ parent() }}
 

  
{% endblock %}
