{% extends "layouts/sbadmin/sbadmin2.html" %}

{% block title %} Add New Model {% endblock %}

{% block head %}
{{ parent() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}



{% block pagecontent %}

<div class="container">
    {% if can('add', 'model')%}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Create New Model</h6>
                </div>
                <div class="card-body">

                    {% import "macros/forms.html" as forms %}

                    <form method="post"
                        action='{{ model ? site_url("models/update/#{model.id}") : site_url("models/store")  }}'>
                        {{ csrf|raw }}
                        {{ forms.input("model_name", model.name , "Model Name") }}
                        {{ forms.input("namespace",  model.class , "Class") }}

                        {% if can('edit', 'model') %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% else %}
    {% include 'denied.html' %}
    {% endif %}

</div>

{% endblock %}




{% block script %}
{{ parent() }}

{% endblock %}