{% extends "layouts/sbadmin/sbadmin2.html" %}

{% block title %}User List{% endblock %}

{% block head %}
{{ parent() }}

{% endblock %}



{% block pagecontent %}

<div class="container">
    {% if can('browse','user') %}
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Users</h6>
                </div>

                <div class="card-body">

                    <a href="{{ site_url('users/create') }}"
                        class=" float-right mt-2 mb-2 btn btn-sm   btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="text">User</span>
                    </a>

                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>

                                <th scope="col">Email</th>
                                <th scope="col">Operations</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in all %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.fname }} {{ user.lname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <form method="POST" action='{{ site_url("users/delete/#{user.id}") }}'>
                                        {{ csrf | raw }}
                                        {% if can('edit', 'user') %}
                                        <a class="btn btn-sm btn-primary"
                                            href='{{ site_url("users/edit/#{user.id}") }}'> <i class="fas fa-edit"></i>
                                        </a>
                                        {% endif %}

                                        {% if can('delete', 'user') %}
                                        <button type="submit" class="btn btn-sm btn-danger"> <i
                                                class="fas fa-trash-alt"></i> </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <div class="d-flex justify-content-center">
                        {{ links | raw}}
                    </div>

                </div>
            </div>

        </div>
    </div>
    {% else %}
    {% include 'denied.html' %}
    {% endif %}

</div>

{% endblock %}




{% block script %}
{{ parent() }}

{% endblock %}