{% extends "layouts/adminlite/adminlite3.html" %}

{% block title %} Forgot Password{% endblock %}

{% block head %}
{{ parent() }}


{% endblock %}
{# input(name, value,label, hints,type = "text", class = "form-control")#}


{% block pagecontent %}


{% import "macros/forms.html" as forms %}


<div class="hold-transition login-page">

  <div class="login-box">
    <div class="login-logo">
      <a href="{{ site_url('main/index')}}"><b>{{ setting.getStoreName() }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form  method="post">
          {{ csrf|raw }}
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Request new password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mt-3 mb-1">
          <a href="{{ site_url('') }}">Login</a>
        </p>
        <p class="mb-0">
          <a href="{{ site_url('home/signup') }}" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
<!-- /.login-box -->

{% endblock %}




  {% block script %}
  {{ parent() }}

  {% endblock %}