{% extends "layouts/adminlite/adminlite3.html" %}

{% block title %} Login Page{% endblock %}

{% block head %}
{{ parent() }}


{% endblock %}

{% import "layouts/adminlite/macros/info_card.html" as info %}
{# v2(bgcolor = 'bg-success', icon = "fa-shopping-cart", boxtext = "sales", number = 720)  #}
{% block pagecontent %}




<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Latest Orders</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th>Order #</th>
          
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td><a href="{{site_url("orders/view/#{order.id}")}}">OR-{{order.id}}</a></td>
                <td><span class="badge badge-success">{{ order.status }}</span></td>
              </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
      <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
    </div>
    <!-- /.card-footer -->
  </div>


  {% endblock %}


{% block script %}
 {{ parent() }}

  
{% endblock %}